<header class="header">
    <nav class="nav">
        <div class="left">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="https://phuclong.com.vn/images/logo_1.png" alt=""></a>
        </div>
        <div class="right">
            <button class="btn">
                Giỏ hàng
                <span class="material-symbols-outlined">shopping_cart</span>
                <div class="count">5</div>
            </button>
            <h2>Nguyễn Ngọc Hồng Hân</h2>
            <a routerLink="['']"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRCFDqF037orUtvTrq9SnXLxLLCqexqft9Cw&usqp=CAU" alt=""></a>
        </div>
    </nav>
</header>
